.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #4169E1 !important;
  }
  .container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .backbtn {
    background-color: #4169E1;
  }

  .btn1{
    padding: 10px ;
    background-color:white !important;
    color: #4169E1;
    border-radius: 5px;
    text-decoration: none;
}
.btn1:hover{
    background-color: #4169E1 !important;
    border: 1px solid white !important;
    color: white;
}