
.clickable-row {
    cursor: pointer !important;
}

.clickable-row:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.active-link {
  color: white;
  background-color: #4169E1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  }

  .inactive-link {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  }

  .inactive-link:hover {
      box-shadow: inset 0 -6px 8px rgba(0, 0, 0, 0.3);
  }

  .inactive-link:active {
      box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
.btn2 {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 12px 30px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    background-color: #4169E1;
    color: white;
    border-radius: 10px;
    letter-spacing: 1.1px;
    transition: var(--animate);
    text-align: center;
    text-transform: capitalize;
    border: 1px solid var(--color-first);
    cursor: pointer;
    margin-top: 10%;
    margin-left: 35%;
    text-decoration: none;
    border: solid 1px white;
  }
  
  .btn2:hover {
    background-color: white;
    color: #4169E1;
    border: solid 1px #4169E1;
    box-shadow: none;
  }
