.btn1{
    padding: 10px ;
    background-color:white !important;
    color: #4169E1;
    border-radius: 5px;
  }
  
  .homebtn:hover{
    background-color: #4169E1;
    border-color: white;
    color: white;
  }
  
  .head {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #4169E1 !important;
   
  }

  body {
    margin-top: 80px; 
}

